* {
  scroll-behavior: smooth;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-style: normal;
  line-height: 1;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.contenedor-general-home {
  min-height: 580px;
  height: calc(100vh - 35px);
  width: 100vw;
  background-image: url(../img/fondo-home.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 35px;
}

.contenedor-general-home header {
  position: relative;
  z-index: 9;
}

.contenedor-general-home header .cont-icon-menu {
  position: absolute;
  left: 13%;
  top: 20px;
  cursor: pointer;
  height: 29px;
  width: 35px;
}

.contenedor-general-home header .cont-icon-menu div {
  background: #4a4a49;
  height: 4px;
  margin-bottom: 5px;
  border-radius: 5px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contenedor-general-home header .cont-icon-menu div:nth-child(1) {
  width: 35px;
}

.contenedor-general-home header .cont-icon-menu div:nth-child(2) {
  width: 29px;
}

.contenedor-general-home header .cont-icon-menu div:nth-child(3) {
  width: 22px;
  margin-bottom: 0;
}

.contenedor-general-home header .cont-icon-menu div.active {
  width: 0;
}

.contenedor-general-home header .cont-icon-menu:hover div {
  background: white;
}

.contenedor-general-home header img {
  width: 163px;
  margin: 0 auto;
  display: block;
}

.contenedor-general-home .contenedor-general-contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-general-home .contenedor-general-contenido .enc p {
  font-family: 'BentonModDisp-Regular';
  font-size: 84px;
  line-height: 78px;
  color: white;
  margin: 0;
  margin-bottom: 110px;
  text-align: center;
  text-transform: uppercase;
}

.contenedor-general-home .contenedor-general-contenido .enc p span {
  color: #969696;
}

.contenedor-general-home .contenedor-general-contenido .cont-botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor-general-home .contenedor-general-contenido .cont-botones button {
  border: 2px solid white;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'BentonModDisp-Regular';
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor-general-home .contenedor-general-contenido .cont-botones button a {
  width: 245px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor-general-home .contenedor-general-contenido .cont-botones button:hover {
  background: white;
}

.contenedor-general-home .contenedor-general-contenido .cont-botones button:hover a {
  color: black;
}

.contenedor-general-home footer {
  position: absolute;
  bottom: 55px;
  width: 80%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.contenedor-general-home footer .info p {
  font-family: 'BentonModDisp-Regular';
  color: #969696;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.contenedor-general-home footer .redes a {
  text-decoration: none;
  margin: 0 10px;
}

.contenedor-general-home footer .redes a img {
  width: auto;
  height: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor-general-home footer .redes a img:hover {
  opacity: .5;
}

.contenedor-general-menu {
  position: absolute;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  height: 100%;
  min-height: 615px;
  width: 470px;
  left: -500px;
  -webkit-transition: all .45s ease-in-out;
  transition: all .45s ease-in-out;
}

.contenedor-general-menu.active {
  left: 0;
}

.contenedor-general-menu .columna1 {
  background: #72717c;
  width: 190px;
  padding: 25px 30px 25px 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor-general-menu .columna1 img {
  width: 160px;
}

.contenedor-general-menu .columna1 .close {
  position: absolute;
  right: 10px;
  padding: 2px 5px;
  border: 1px solid #4d4c54;
  cursor: pointer;
}

.contenedor-general-menu .columna1 .cont-menu ul {
  list-style: none;
  padding: 0;
  min-width: 190px;
}

.contenedor-general-menu .columna1 .cont-menu ul li {
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  border-bottom: 1px solid white;
  padding: 15px 0;
  position: relative;
}

.contenedor-general-menu .columna1 .cont-menu ul li a {
  color: white;
}

.contenedor-general-menu .columna1 .cont-menu ul li:last-child {
  border-bottom: 1px solid transparent;
}

.contenedor-general-menu .columna1 .cont-menu ul li ul {
  position: absolute;
  right: calc(-100% - 15px);
  top: 0;
  min-width: 150px;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor-general-menu .columna1 .cont-menu ul li:hover ul {
  opacity: 1;
}

.contenedor-general-menu .columna1 .cont-contact p {
  font-size: 14px;
  color: white;
  letter-spacing: 2px;
  margin: 0;
}

.contenedor-general-menu .columna1 .cont-contact a {
  font-size: 14px;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
}

.contenedor-general-menu .columna1 .cont-contact .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.contenedor-general-menu .columna1 .cont-contact .redes a {
  margin: 0 15px;
}

.contenedor-general-menu .columna1 .cont-contact .redes a img {
  height: 15px;
  width: auto;
  -webkit-filter: invert(0.7);
          filter: invert(0.7);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor-general-menu .columna1 .cont-contact .redes a img:hover {
  -webkit-filter: invert(0);
          filter: invert(0);
}

.contenedor-general-menu .columna1 .cont-contact .redes a:first-child, .contenedor-general-menu .columna1 .cont-contact .redes a:last-child {
  margin: 0;
}

.contenedor-general-menu .columna2 {
  background: #4d4c54;
  width: 200px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contenedor-general-home .contenedor-general-contenido .enc p {
    font-size: 64px;
    line-height: 58px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 767px) {
  .contenedor-general-home {
    min-height: 535px;
  }
  .contenedor-general-home header img {
    width: 120px;
  }
  .contenedor-general-home .contenedor-general-contenido .enc p {
    font-size: 44px;
    line-height: 38px;
    margin-bottom: 50px;
  }
  .contenedor-general-home .contenedor-general-contenido .cont-botones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-general-home .contenedor-general-contenido .cont-botones button {
    height: 45px;
    font-size: 16px;
  }
  .contenedor-general-home footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contenedor-general-home footer .info {
    margin-top: 10px;
  }
  .contenedor-general-menu {
    width: 100%;
    left: -100%;
  }
  .contenedor-general-menu .columna1 {
    width: 100%;
  }
  .contenedor-general-menu .columna1 img {
    width: 120px;
  }
  .contenedor-general-menu .columna1 .cont-menu ul li {
    font-size: 16px;
    padding: 10px 0;
  }
  .contenedor-general-menu .columna1 .cont-menu ul li ul {
    position: relative;
    opacity: 1;
    top: inherit;
    right: inherit;
    padding-left: 20px;
  }
  .contenedor-general-menu .columna1 .cont-menu ul li ul li {
    font-size: 14px;
  }
  .contenedor-general-menu .columna2 {
    display: none;
  }
}
