@import "fonts";
@import "header";
@import "footer";

* {
    scroll-behavior: smooth;
    box-sizing: content-box;
    font-style: normal;
    line-height: 1;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.contenedor-wrapper{
    width: 61%;
    margin: 0 auto;
    margin-top: 85px;
    padding: 110px 0;
}