* {
    scroll-behavior: smooth;
    box-sizing: content-box;
    font-style: normal;
    line-height: 1;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.contenedor-general-home{
    min-height: 580px;
    height: calc(100vh - 35px);
    width: 100vw;
    background-image: url(../img/fondo-home.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 35px;

    header{
        position: relative;
        z-index: 9;
        .cont-icon-menu{
            position: absolute;
            left: 13%;
            top: 20px;
            cursor: pointer;
            height: 29px;
            width: 35px;
            div{
                background: #4a4a49;
                height: 4px;
                margin-bottom: 5px;
                border-radius: 5px;
                transition: all .2s;
                &:nth-child(1){
                    width: 35px;
                }
                &:nth-child(2){
                    width: 29px;
                }
                &:nth-child(3){
                    width: 22px;
                    margin-bottom: 0;
                }
                &.active{
                    width: 0;
                }
            }
            &:hover{
                div{
                    background: white;
                }
            }
        }
        img{
            width: 163px;
            margin: 0 auto;
            display: block;
        }
    }

    .contenedor-general-contenido{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        justify-content: center;
        align-items: center;
        .enc{
            p{
                font-family: 'BentonModDisp-Regular';
                font-size: 84px;
                line-height: 78px;
                color: white;
                margin: 0;
                margin-bottom: 110px;
                text-align: center;
                text-transform: uppercase;
                span{
                    color: #969696;
                }
            }
        }
        .cont-botones{
            display: flex;
            button{
                border: 2px solid white;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'BentonModDisp-Regular';
                text-transform: uppercase;
                font-size: 20px;
                letter-spacing: 2px;
                outline: none;
                cursor: pointer;
                transition: all .3s;
                a{
                    width: 245px;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    transition: all .3s;
                }
                &:hover{
                    background: white;
                    a{
                        color: black;
                    }
                }
            }
        }
    }

    footer{
        position: absolute;
        bottom: 55px;
        width: 80%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        .info{
            p{
                font-family: 'BentonModDisp-Regular';
                color: #969696;
                margin: 0;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 1px;
            }
        }
        .redes{
            a{
                text-decoration: none;
                margin: 0 10px;
                img{
                    width: auto;
                    height: 20px;
                    transition: all .3s;

                    &:hover{
                        opacity: .5;
                    }
                }
            }
        }
    }
}



.contenedor-general-menu{
    position: absolute;
    z-index: 999;
    display: flex;
    top: 0;
    height: 100%;
    min-height: 615px;
    width: 470px;
    left: -500px;
    transition: all .45s ease-in-out;

    &.active{
        left: 0;
    }

    .columna1{
        background: #72717c;
        width: 190px;
        padding: 25px 30px 25px 50px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        img{
            width: 160px;
        }

        .close{
            position: absolute;
            right: 10px;
            padding: 2px 5px;
            border: 1px solid #4d4c54;
            cursor: pointer;
        }

        .cont-menu{
            //margin-top: 75px;
            ul{
                list-style: none;
                padding: 0;
                min-width: 190px;
                li{
                    font-size: 20px;
                    color: white;
                    letter-spacing: 1px;
                    border-bottom: 1px solid white;
                    padding: 15px 0;
                    position: relative;

                    a{
                        color: white;
                    }

                    &:last-child{
                        border-bottom: 1px solid transparent;
                    }

                    ul{
                        position: absolute;
                        right: calc(-100% - 15px);
                        top: 0;
                        min-width: 150px;
                        opacity: 0;
                        transition: all .3s;
                    }

                    &:hover{
                        ul{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .cont-contact{
            //margin-top: 35px;
            p{
                font-size: 14px;
                color: white;
                letter-spacing: 2px;
                margin: 0;
            }
            a{
                font-size: 14px;
                color: white;
                letter-spacing: 2px;
                text-decoration: none;
            }
            .redes{
                display: flex;
                margin-top: 15px;
                a{
                    margin: 0 15px;
                    img{
                        height: 15px;
                        width: auto;
                        filter: invert(.7); 
                        transition: all .3s;
                        
                        &:hover{
                            filter: invert(0); 
                        }
                    }

                    &:first-child, &:last-child{
                        margin: 0;
                    }
                }
            }
        }
    }
    .columna2{
        background: #4d4c54;
        width: 200px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1279px){

    .contenedor-general-home{
        .contenedor-general-contenido{ 
            .enc{ 
                p{
                    font-size: 64px;
                    line-height: 58px;
                    margin-bottom: 70px;
                }
            }
        }
    }

}



@media screen and (max-width: 767px){

    .contenedor-general-home{
        min-height: 535px; 
        header{ 
            img{
                width: 120px;
            }
        }
        .contenedor-general-contenido{ 
            .enc{ 
                p{
                    font-size: 44px;
                    line-height: 38px;
                    margin-bottom: 50px;
                }
            }
            .cont-botones{
                flex-direction: column;
                button{
                    height: 45px;
                    font-size: 16px;
                    a{

                    }
                }
            }
        }
        footer{
            flex-direction: column-reverse;
            .info{
                margin-top: 10px;
            }
        }
    }


    .contenedor-general-menu{
        width: 100%;
        left: -100%;
        .columna1{
            width: 100%;
            img{
                width: 120px;
            }
            .cont-menu{ 
                ul{ 
                    li{
                        font-size: 16px;
                        padding: 10px 0;
                        ul{
                            position: relative;
                            opacity: 1;
                            top: inherit;
                            right: inherit;
                            padding-left: 20px;
                            li{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        } 
        .columna2{
            display: none;
        }
    }

}